extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 James Bremner
        p Full Stack JavaScript Developer
        .about-bio
          p As a web developer, I have worked both as in-house and agency environment working with brands in the luxury, fashion, beauty, and lifestyle sectors. Areas that are of particular interest to me are UI/UX design, mobile-responsive development and web-accessibility. I'm currently studying on the full-stack JavaScript tech degree at Treehouse to broaden my skillset in web development as well as looking for my next role in web development.
      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li SCSS 
          li Bootstrap
          li Tailwind
          li JavaScript
          li Git and GitHub
          li Shopify theme development
          li Accessibility
          li Fetch API
          li Node.js
          li Express
          li Pug
          li Cross-browser testing
          li Mobile-responsive development

        h6 Contact Info
        ul
          li +44 789681 9998
          li j.bremner@ymail.com
        a.btn-link(href='https://www.linkedin.com/in/james-bremner-dev/') LinkedIn
        a.btn-link(href='https://github.com/jamesbdev') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back