extends layout.pug

block content

  article.portfolio-intro
    h1 My portfolio
    p This is a portfolio website showcasing my skills in web development

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in data
        .cell
          a(href=project.live_link)
            img.thumbnail(src=project.image_urls[0], alt=project.project_name)
            h5 #{project.project_name}

